{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Pharmap</title>
        <link rel="stylesheet" href="static/bootstrap-5.3.5-dist/css/bootstrap.css">
        <link rel="stylesheet" href="static/style.css">
        <script src="static/bootstrap-5.3.5-dist/js/bootstrap.min.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg nav-main border-bottom" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'index' %}">
                    Pharmap
                </a>
                <div class="navbar-nav">
                    <a class="nav-link" href="{% url 'index' %}">Home</a>
                    <a class="nav-link" href="{% url 'pharmacies' %}">Locate Pharmacies</a>
                    <a class="nav-link" href="{% url 'medicines' %}">Medicines</a>
                </div>
            </div>
        </nav>
        <div class="container-fluid">
            {% block content%}
            {% endblock %}
        </div>
        <div class="justify-content-center fixed-bottom main-footer border-top">
            <div class="col pb-3 text-center" style="color: #FFFFFF; margin-top: 1em;">
                © 2025 Pharmap
            </div>
        </div>
    </body>
</html>