{% extends 'pmap/base.html' %}
{% load static %}
{% block title %}| Log In{% endblock %}

{% block content%}
<div class="row justify-content-center align-items-center">
    <div class="col-6">
        <div class="content">
            <h1>Log In</h1>
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if messages.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <form method="POST" action="#">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" name="username" class="form-control" placeholder="Username" required>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" name="password" class="form-control" placeholder="Password" required>
                </div>
                <input type="submit" value="Login" class="btn btn-primary">
            </form>
            <p style="margin-top: 1em;">Don't have an account? <a href="{% url 'signup_view' %}">Sign up here.</a></p>
        </div>
    </div>
</div>
{% endblock %}
