{% extends 'pmap/base.html' %}
{% load static %}

{% block content%}
<div class="row justify-content-center align-items-center">
    <div class="col-6">
        <div class="content">
            <h1>Locate Pharmacies</h1>
            <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
            <p>Nunc vulputate efficitur massa, id eleifend arcu pretium in. Donec cursus odio eget cursus malesuada. Maecenas at enim id magna interdum rhoncus. In auctor sit amet nulla et elementum. Vivamus ullamcorper feugiat cursus. Curabitur pulvinar sem odio, a fringilla lorem iaculis a. Pellentesque ut lacinia quam, vitae tincidunt nulla. Morbi accumsan vitae velit in finibus. Quisque eget lorem dolor. Nulla gravida ac ex a tempus. Morbi porta consectetur sapien vitae varius.</p>
            <h4>Morbi nec scelerisque urna, nec sagittis arcu.</h4>
            <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Praesent at arcu consectetur, molestie sem vel, tempor quam. In tempor orci et vulputate dapibus. Vivamus ullamcorper erat sem, sit amet fringilla sapien scelerisque at. Mauris mollis, ligula maximus tempor gravida, odio ligula consectetur sem, vel interdum libero erat vitae justo. Aenean in nunc vel nunc lobortis porta non et augue. Sed quis justo non ligula maximus mattis. Proin in nunc tortor.</p>
        </div>
    </div>
</div>
{% endblock %}