{% extends 'pmap/base.html' %}
{% load static %}
{% block title %}| Pharmacies{% endblock %}

{% block content%}
<div class="row justify-content-center align-items-center">
    <div class="col-6">
        <div class="content">
            <h1>Pharmacy Locator</h1>
            <h4>Locate a pharmacy based on the list of medicines you need.</h4>
            <form method="POST" action="#">
                {% csrf_token %}
                <div class="form-group">
                    <select id="medlist" name="medlist_id" class="form-control">
                        {% for list in medlists %}
                            <option value="{{ list.id }}">{{ list.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <input class="btn btn-primary" type="submit" value="Locate">
            </form>
        </div>
    </div>
</div>
{% endblock %}