body {
    background-color: #FFFFFF;
    color: #2A2E2C;
    font-family: "Roboto", sans-serif;
}
h1 {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 48px;
}
p {
    margin-bottom: 0px;
}
table {
    text-align: center;
    font-size: 24px;
}
th {
    padding: 2em;
}
ul {
    margin-bottom: 0px;
}
.content {
    margin: 1em;
}
.list-results {
    background-color: #F2F2F2;
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 5px;
}
.col-branches {
    text-align: center;
}
.img-body {
    max-width: 40%;
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
}
.img-table {
    max-width: 30%;
}
.nav-main {
    background-color: #467048;
    padding-left: 1em;
    padding-right: 1em;
}
.main-footer {
    background-color: #467048;
}
.form-group {
    margin-bottom: 1em;
}
.btn-primary {
    background-color: #467048;
    border-color: #467048;
}
.btn-primary:hover {
    background-color: #A9B782;
    border-color: #A9B782;
}
.btn-primary:active {
    background-color: #335441 !important;
    border-color: #335441 !important;
}